.github-profile{
  margin: 10px;
  display: flex;
}

.github-profile .info{
  display: inline-block;
  margin-left: 12px;
}

.github-profile img{
  width: 75px;
}

.formData{
  background-color: darkgray;
  padding: 20px;
  width: 300px;
}
.formData input{
  height: 20px;
  padding: 10px;
  margin-right: 5px;
}
.formData button{
  padding: 10px;
  background-color: darkgray;
  width: 100px;
  color: aqua;
}